.pagination-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.pagination-button {
  width: 40px;
  height: 40px;
  background-color: #444;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination-button:hover {
  background-color: #666;
  transform: scale(1.1);
}

.pagination-button.active {
  background-color: #00940a;
  color: #fff;
  transform: scale(1.1);
}
